.nav {
  display: flex;
}

.nav {
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav li {
  flex-grow: 1;
}

.main {
  display: flex;
}

.col {
  flex: 1;
}

.col-c {
  flex: 2;
}

@media screen and (max-width: 1000px) {
  .main {
    flex-direction: column;
  }
}
