body {
	background-color: #f0fcff;
	background-image: url("island.png");
	background-repeat: repeat-x;
	background-size: 780px;
	background-position: 0px -460px;
}

.boat {
	width: 380px;
	position: absolute;
	top: 40%;
	left: 30%;
}

.boat img {
	width: 100%;
}

.boat::before {
	position: absolute;
	display: block;
	width: 120px;
	height: 120px;
	content: "";
	background: url("steam.png") no-repeat;
	background-size: 120px;
	top: -25%;
	left: 5%;
	opacity: 0;
}

.mike {
	width: 180px;
	position: absolute;
	top: 55%;
	left: -19%;
	transform: rotateZ(-5deg);
}
