
body {
  perspective: 800px;
}

.wrap {
  background-color: #ccc;
}

.wrap div {
  transition: transform .5s ease-in, opacity .6s ease-in;
  position: absolute;
  transform: rotateX(90deg);
  opacity: 0;
  transform-origin: bottom;
}

.wrap:hover div {
  transform: rotateX(0deg) translateZ(15px);
  opacity: 1;
}
