
body {
  perspective: 800px;
}

.wrap {
  transform-style: preserve-3d;
  transition: transform .6s ease-in;
}

.wrap div {
  position: absolute;
  backface-visibility: hidden;
}

.side-b {
  transform: rotateY(180deg);
}

.wrap:hover {
  transform: rotateY(180deg);
}
